@import "tailwindcss";

@layer base {
  :root {
    /* 라이트 모드 (기본값) */
    --background: #ffffff;
    --foreground: #111111;
    --font-sawarabi-mincho: "Sawarabi Mincho";
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sawarabi-mincho), serif;
  }
}
